{% extends "html/base.html" %}
{% block title %}Chus Naval Home{% endblock %}
{% block content %}
    <div id="result">
        {% block head %}<h1>Busqueda filtrada</h1>{% endblock %}
        <form class="formStyle" name="form" action=""
              onsubmit="searchFiltered('http://localhost:8000/search/','result','emptys'); return false">
            <div><label for="p">Buscar: </label></div>
            <div><input type="text" name="q" value="{{ search |escape }}"></div>
            <div><input type="submit" value="Aceptar"></div>
            {% if search %}
                <h1>Resultados para "{{ search | escape }}":</h1>
                {% if results %}
                    <table id="table_">
                        <tr>
                            <td>Login</td>
                        </tr>
                        {% for recipeType in results %}
                            <tr>
                                <td>{{ recipeType.name }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <div class="msg" align="justify">No hay resultados</div>
                {% endif %}
            {% endif %}
        </form>
        <div id="emptys" align="center"></div>
    </div>
{% endblock %}