{% extends "html/base.html" %}
{% block title %}Django[Python]{% endblock %}
{% block content %}
    <div id="result">
    {% block headed %}<h1>Actualizar un registro</h1>{% endblock %}
    <form class='formStyle' name='form' action="." method="GET">
        {% if results %}
            <table id="tabla_">
                <tr>
                    <td>Nombre</td>
                    <td>Acción</td>
                </tr>
                {% for recipeType in results %}
                    <tr>
                        <td>{{ recipeType.name|upper }}</td>
                        <td><a href=#
                               onclick="update('http://localhost:8000/update/?id={{ recipeType.id }}','result','{{ recipeType.id }}'); return false">Actualizar</A>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>Datos no encontrados</p>
        {% endif %}
    </form>
    {% if exito %}
        <div class="msg" align="justify">Registro #{{ id }} actualizado</div>
    {% endif %}
{% endblock %}
</div>

