{% extends "base.html" %}
{% block title %}Chus Naval Home{% endblock %}
{% block content %}
<div id="result">
{% block head %}<h1>Busqueda filtrada usando combo</h1>{% endblock %}
<form class="formStyle" name="form" action="">
	<div><label for="p">Buscar: </label></div>
	<SELECT NAME="q" onChange="searchFiltered('http://localhost:8000/search/','result','Vacios'); return false">
		<OPTION value="">Seleccione</OPTION>
        {% for user in results %}<OPTION VALUE= '{{user.id}}' >{{user.login}}</OPTION>{% endfor %}
	</SELECT>
{% if query %}
	<h1>Resultados para "{{ query | escape }}":</h1>
	{% if results %}
		<table id="table_">
			<tr><td>Login</td></tr>
			{% for user in results %}
				<tr><td>{{user.login|upper}}</td></tr>
			{% endfor %}
		</table>
	{% else %}
		<div class="msg" align="justify">No hay resultados</div>
	{% endif %}
{% endif %}
</form>
<div id="emptys" align="center"></div>	
</div>
{% endblock %}